<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UniversidadWSPortBinding" />
                <binding name="PostulanteWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftPlantillaWS/UniversidadWS"
                binding="basicHttpBinding" bindingConfiguration="UniversidadWSPortBinding"
                contract="ServicioWS.UniversidadWS" name="UniversidadWSPort" />
            <endpoint address="http://localhost:8080/SoftPlantillaWS/PostulanteWS"
                binding="basicHttpBinding" bindingConfiguration="PostulanteWSPortBinding"
                contract="ServicioWS.PostulanteWS" name="PostulanteWSPort" />
        </client>
    </system.serviceModel>
</configuration>